{% extends 'base.html' %}

{% block content %}
{{ form.name.choices }}
<form method="post" action="">

	Who do you want to adopt {{ puppy.name }}?	{{ form.name }}
	{% for ad in adoptors %}
	
	<a href="{{ url_for('adoption_success',shelter_id=puppy.shelter.id, shelter_name=puppy.shelter.name_slug, puppy_id=puppy.id, adoptor_id=ad.id) }}" class="btn btn-info">Adopt</a>
	
	{% endfor %}

</form>

{% for ad in adoptors %}
<a href="{{ url_for('adoption_success',shelter_id=puppy.shelter.id, shelter_name=puppy.shelter.name_slug, puppy_id=puppy.id, adoptor_id=ad.id) }}">{{ ad.name }}</a><br>
{% endfor %}
	
	<br><br><hr>
Who do you want to adopt {{ puppy.name }}?	{{ form.name }}
{% endblock %}