{% extends 'base.html' %}

{% block content %}


<h1>Create a new puppy</h1>

<form id="multiselectForm" method="post" class="form-horizontal"action="">
	{{ form.csrf_token }}
	{{ form.name.label }}{{ form.name }}<br>
	{{ form.gender.label }}{{ form.gender }}
	{{ form.picture.label }}{{ form.picture(type='url',placeholder="https://pixabay.com/") }}<br>
	{{ form.breed.label }}{{ form.breed }}<br>
	{{ form.specialNeeds.label }}{{ form.specialNeeds }}<br>

	
	<input type="submit" value="create">
	<a href="{{ url_for('index') }}">cancel</a>
</fomr>

<br><br><br>


{% endblock %}