{% extends 'base.html' %}

{% block content %}
	

		Edit puppy named {{ editpuppy.name }}<br>
		{{ editpuppy.weight }}<br>
		{{ editpuppy.gender }}<br>
		{{ editpuppy.picture }}<br>
		
		{{ editpuppy.profile.description }}<br>
		{{ editpuppy.profile.specialNeeds }}



<h1>Edit a puppy</h1>

<form method="post" class="form-horizontal" action="">
	{{ form.csrf_token }}
	{{ form.name.label }}{{ form.name }}<br>
	{{ form.gender.label }}{{ form.gender }}<br>
	{{ form.picture.label }}{{ form.picture(placeholder="https://pixabay.com/") }}<br>
	{{ form.weight.label }}{{ form.weight }}<br>
	{{ form.specialNeeds.label }}{{ form.specialNeeds }}<br>
	
	<input type="submit" value="Edit">
</fomr>


{% endblock %}