{% extends 'base.html' %}

{% block content %}

<h1>Edit a puppy</h1>

<form method="post" class="form-horizontal" action="">
	{{ form.csrf_token }}
	{{ form.name.label }}{{ form.name }}<br>
	{{ form.gender.label }}{{ form.gender }}
	{{ form.picture.label }}{{ form.picture(placeholder="https://pixabay.com/") }}<br>
	{{ form.breed.label }}{{ form.breed }}
	{{ form.weight.label }}{{ form.weight(type="number", min='1', max='75') }}<br>
	{{ form.specialNeeds.label }}{{ form.specialNeeds }}<br>
	{{ form.shelter }}
	<input type="submit" value="Edit">
</form>

<a href="{{ url_for('shelter_profile', shelter_id=editpuppy.shelter.id,shelter_name=editpuppy.shelter.name_slug, page=1) }}">Cancel</a><br>


{% endblock %}