{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('new_puppy') }}">Create a Puppy</a><br>
<h1>Puppy Adoption Website</h1>

{% for shel in shelter %}
<a href="{{ url_for('shelter_profile', shelter_id=shel.id,shelter_name=shel.name_slug, page=1) }}">Link to shelter page</a><br>
	{{ shel.name }}<br>
	{{ shel.city }}, {{ shel.state }} {{ shel.zipCode }}<br>
	<a href="{{ shel.website }}">{{ shel.website }}</a><br><br>
	<p>Max Capacity: {{ shel.maximum_capacity }}</p>
	<p>Current Capacity: {{ shel.current_capacity }}</p><br>
	<br><br><br>

{% endfor %}





{% endblock %}