{% extends "base.html" %}

{% block title %}AdoptMe.com{% endblock %}

{% block content %}
<header class="jumbotron hero-spacer">
	<h1>Welcome to our puppy adoption web app!</h1>
	<p>Please add yourself to the adoption list here.</p>
	<form method="post" action="">
		{{ form.csrf_token }}

		{{ form.name.label }}{{ form.name }}<br>

		<span class="error bg-danger">
			{% if form.name.errors %}
			{% for error in form.name.errors %}
			<div class="bg-danger">{{ error }}</div>
			{% endfor %}
			{% endif %}
		</span><br>

		{{ form.submit(value="Become an Adoptor", class="btn btn-info") }}
	</form>
</header>
<hr>



<div class="row">
	<div class="col-lg-12">
		<h3>Latest Shelters</h3>
	</div>
</div> <!-- end row -->

<div class="row text-center">
{% for shel in shelter %}
	<div class="col-md-6 hero-feature">
		<div class="thumbnail">
			<!-- <img src="http://placehold.it/800x500" alt=""> -->
			<div class="caption">
				<a href="{{ url_for('shelter_profile', shelter_id=shel.id,shelter_name=shel.name_slug, page=1) }}">Link to shelter page</a><br>
	
				<h3>{{ shel.name }}</h3>
				<p>{{ shel.city }}, {{ shel.state }} {{ shel.zipCode }}</p>
				<p><a href="{{ shel.website }}">{{ shel.website }}</a></p>
				<p>Current Capacity: {{ shel.current_capacity }}</p>
				<p>Max Capacity: {{ shel.maximum_capacity }}</p>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
            	<p><a href="{{ url_for('shelter_profile', shelter_id=shel.id,shelter_name=shel.name_slug, page=1) }}" class="btn btn-primary">Adopt Now!</a></p>
			</div>
			

		</div>
	</div>

{% endfor %}
</div> <!-- end row -->

	






{% endblock %}