{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('shelter_profile', shelter_id=puppy.shelter.id,shelter_name=puppy.shelter.name_slug, page=1) }}">Back</a><br>
This is {{ puppy.name }}<br>
<img src="{{ puppy.picture }}"/><br>
{{ puppy.shelter.name }}<br>
{{ puppy.dateOfBirth }}<br>
{{ puppy.profile.breed }}<br>
{{ puppy.weight }}lbs<br>
{{ puppy.profile.description }}<br>
{{ puppy.profile.specialNeeds }}<br>
<a href="{{ url_for('adoptions', shelter_id=puppy.shelter.id,shelter_name=puppy.shelter.name_slug,puppy_id=puppy.id) }}" class='btn btn-info'>Adopt</a>
<hr>
<a href="{{ url_for('edit_puppy', shelter_id=puppy.shelter.id,shelter_name=puppy.shelter.name_slug, puppy_id=puppy.id )}}">Edit</a>&nbsp;|&nbsp;<a href="{{ url_for('delete_puppy', shelter_id=puppy.shelter.id,shelter_name=puppy.shelter.name_slug, puppy_id=puppy.id )}}">Delete<a>

{% endblock %}